Name : Shivam  Deshmukh
Roll_No: 12

Lab Practical 1

1. Import all the required Python libraries

In [49]:
import pandas as pd

2. Load the dataset into Pandas dataframe

In [10]:
df = pd.read_csv('pokemon_data_pokeapi.csv')

In [12]:
df

,Name,Pokedex Number,Type1,Type2,Classification,Height (m),Weight (kg),Abilities,Generation,Legendary Status
0,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,"Overgrow, Chlorophyll",1,No
1,Ivysaur,2,Grass,Poison,Seed Pokémon,1.0,13.0,"Overgrow, Chlorophyll",1,No
2,Venusaur,3,Grass,Poison,Seed Pokémon,2.0,100.0,"Overgrow, Chlorophyll",1,No
3,Charmander,4,Fire,NaN,Lizard Pokémon,0.6,8.5,"Blaze, Solar-power",1,No
4,Charmeleon,5,Fire,NaN,Flame Pokémon,1.1,19.0,"Blaze, Solar-power",1,No
...,...,...,...,...,...,...,...,...,...,...
900,Ursaluna,901,Ground,Normal,でいたんポケモン,2.4,290.0,"Guts, Bulletproof, Unnerve",8,No
901,Basculegion-male,902,Water,Ghost,おおうおポケモン,3.0,110.0,"Swift-swim, Adaptability, Mold-breaker",8,No
902,Sneasler,903,Fighting,Poison,クライミングポケモン,1.3,43.0,"Pressure, Unburden, Poison-touch",8,No
903,Overqwil,904,Dark,Poison,けんざんポケモン,2.5,60.5,"Poison-point, Swift-swim, Intimidate",8,No
904,Enamorus-incarnate,905,Fairy,Flying,あいぞうポケモン,1.6,48.0,"Cute-charm, Contrary",8,Yes

3. Fetch different records to check Dataframe loaded successfully

In [14]:
df.head()

,Name,Pokedex Number,Type1,Type2,Classification,Height (m),Weight (kg),Abilities,Generation,Legendary Status
0,Bulbasaur,1,Grass,Poison,Seed Pokémon,0.7,6.9,"Overgrow, Chlorophyll",1,No
1,Ivysaur,2,Grass,Poison,Seed Pokémon,1.0,13.0,"Overgrow, Chlorophyll",1,No
2,Venusaur,3,Grass,Poison,Seed Pokémon,2.0,100.0,"Overgrow, Chlorophyll",1,No
3,Charmander,4,Fire,NaN,Lizard Pokémon,0.6,8.5,"Blaze, Solar-power",1,No
4,Charmeleon,5,Fire,NaN,Flame Pokémon,1.1,19.0,"Blaze, Solar-power",1,No

In [16]:
df.tail()

,Name,Pokedex Number,Type1,Type2,Classification,Height (m),Weight (kg),Abilities,Generation,Legendary Status
900,Ursaluna,901,Ground,Normal,でいたんポケモン,2.4,290.0,"Guts, Bulletproof, Unnerve",8,No
901,Basculegion-male,902,Water,Ghost,おおうおポケモン,3.0,110.0,"Swift-swim, Adaptability, Mold-breaker",8,No
902,Sneasler,903,Fighting,Poison,クライミングポケモン,1.3,43.0,"Pressure, Unburden, Poison-touch",8,No
903,Overqwil,904,Dark,Poison,けんざんポケモン,2.5,60.5,"Poison-point, Swift-swim, Intimidate",8,No
904,Enamorus-incarnate,905,Fairy,Flying,あいぞうポケモン,1.6,48.0,"Cute-charm, Contrary",8,Yes

4. Check structure of the dataset.

In [20]:
df.shape

(905, 10)

In [24]:
df.size

9050

In [26]:
df.ndim

2

5. Check Attribute of Dataframe

In [30]:
df.columns

Index(['Name', 'Pokedex Number', 'Type1', 'Type2', 'Classification',
       'Height (m)', 'Weight (kg)', 'Abilities', 'Generation',
       'Legendary Status'],
      dtype='object')

6. Check the data types of columns in Dataframe

In [32]:
df.dtypes

Name                 object
Pokedex Number        int64
Type1                object
Type2                object
Classification       object
Height (m)          float64
Weight (kg)         float64
Abilities            object
Generation            int64
Legendary Status     object
dtype: object

7. Check Attribute information of Dataframe

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              905 non-null    object
 1   Pokedex Number    905 non-null    int64
 2   Type1             905 non-null    object
 3   Type2             449 non-null    object
 4   Classification    905 non-null    object
 5   Height (m)        905 non-null    float64
 6   Weight (kg)       905 non-null    float64
 7   Abilities         905 non-null    object
 8   Generation        905 non-null    int64
 9   Legendary Status  905 non-null    object
dtypes: float64(2), int64(2), object(6)
memory usage: 70.8+ KB

8. Check description of Dataframe

In [37]:
df.describe()

       Pokedex Number  Height (m)  Weight (kg)  Generation
count      905.000000  905.000000   905.000000  905.000000
mean       453.000000    1.192707    64.288066    4.176796
std        261.395295    1.232754   119.224378    2.264997
min          1.000000    0.100000     0.100000    1.000000
25%        227.000000    0.500000     8.500000    2.000000
50%        453.000000    1.000000    28.000000    4.000000
75%        679.000000    1.500000    65.500000    6.000000
max        905.000000   20.000000   999.900000    8.000000

9. Check null values of Dataframe

In [41]:
df.isna()

,Name,Pokedex Number,Type1,Type2,Classification,Height (m),Weight (kg),Abilities,Generation,Legendary Status
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
900,False,False,False,False,False,False,False,False,False,False
901,False,False,False,False,False,False,False,False,False,False
902,False,False,False,False,False,False,False,False,False,False
903,False,False,False,False,False,False,False,False,False,False
904,False,False,False,False,False,False,False,False,False,False

In [43]:
df.isnull().any()

Name                False
Pokedex Number      False
Type1               False
Type2                True
Classification      False
Height (m)          False
Weight (kg)         False
Abilities           False
Generation          False
Legendary Status    False
dtype: bool

In [45]:
df.isnull().sum()

Name                  0
Pokedex Number        0
Type1                 0
Type2               456
Classification        0
Height (m)            0
Weight (kg)           0
Abilities             0
Generation            0
Legendary Status      0
dtype: int64